
@charset "UTF";

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;500;800&display=swap');

:root{
    --fonte-padrao: 'Epilogue', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: black;
    color: white;
    font-family:var(--fonte-padrao);
    
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 50px;
}

.conteudo-principal-escrito-nome{
    font-weight: 200;
}

.conteudo-principal-escrito-titulo{
    font-size: 49px;
}

.conteudo-principal-escrito-paragrafo{
    font-size: 20px;
    font-weight: 200;
}

.conteudo-principal-escrito-botao{
    color: white;
    background-image: linear-gradient(to bottom, #355df7, #1f3685);
    font-family: var(--fonte-padrao);
    font-weight: bold;
    size: 24px;
    width: 70;
    height: 60px;
    border: none;
    box-shadow: 4px 5px black ;
    border-radius: 10px;

}

img{
    height: 430px;
}